@*nhan dien cac file trong thu muc Models*@
@using project.Models
@using X.PagedList.Mvc.Core
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemNews>
@*doi tuong de goi ham hien thi phan trang*@

@{
    //import file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}



<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/News/Create" class="btn btn-primary">Create</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List News</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px;">Photo</th>
                    <th>Name</th>
                    <th style="width:70px; text-align:center;">Hot</th>
                    <th style="width:120px;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*
                        File.Exists(duongdan) tra ve true neu duongdan ton tai, nguoc lai tra ve false
                        *@
                            @if (!String.IsNullOrEmpty(item.Photo))
                            {
                                <img src="~/Upload/News/@item.Photo" style="width:100px;">
                            }
                        </td>
                        <td>@item.Name</td>
                        <td style="text-align:center;">
                            @if (item.Hot == 1)
                            {
                                <span class="fa fa-check"></span>
                            }
                        </td>
                        <td style="text-align:center;">
                            <a href="/Admin/News/Update/@item.Id">Update</a>&nbsp;
                            <a href="/Admin/News/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @*phan trang bang tay*@
            @*So trang: @Model.PageCount /
            Trang hien tai: @Model.PageNumber*@
            @*phan trang bang ham PagedListPager*@
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }) )
        </div>
    </div>
</div>